<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
          <rewrite>
            <rules>
                <rule name="ReqToServerjs">
                    <match url=".*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
          <security>
            <requestFiltering>
              <hiddenSegments>
                <add segment="node_modules" />
                <add segment="iisnode" />
              </hiddenSegments>
            </requestFiltering>
          </security>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>
        <iisnode nodeProcessCommandLine="&quot;D:\nodejs\node.exe&quot;" devErrorsEnabled="true" />
    </system.webServer>
</configuration>