<html>
    
    <head>
       <title>About Us | Agastya Global</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AG Stones Offers Stunning Quartz, Marble, Granite for Homes & Projects</title>
        <meta name="description" content="AG Stones offer a profound inventory of the finest quality materials like quartz, quartzite, granite, onyx, marble, and semi-precious stone slabs in United States.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="canonical" href="https://agstones.com/about" />
    <%- include('head') %>

    </head>
    
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTVQJ7SR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        
        <button onclick="topFunction()" id="topscroll" title="Go to top"><i class="fas fa-chevron-up"></i></button>
 <%- include('header') %>
        
        
        <div class="innerbanner aboutpage">
            <div class="main"><div class="content">
               <h1 class="title">About Us</h1>
                <div class="desline"></div>
                </div></div>
        </div>
        
        
        <section class="aboutsec">
            <div class="aestext">
                <h2>Experience Creativity with AG Stones</h2>
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-12">
                        <p>Passionate about infusing timeless allure into your projects, AG Stones stands out as a premier importer and distributor of a wide range of materials, including natural stone, engineered stone, marble, onyx & semi-precious. Specializing in quartz, quartzite, granite, onyx, marble, and semi-precious stone slabs, we meticulously source our materials from esteemed quarries worldwide. Our commitment to excellence in material selection forms the foundation of our business, guaranteeing that every project, be it a lavish residential space or an innovative commercial design, evolves into a masterpiece of natural beauty.</p>
                        <p>With a robust global network and local roots, we offer a profound inventory of the finest quality materials, delivering them precisely when and where you need them. This unique combination ensures not only convenience but also reflects our dedication to fostering knowledge and relationships that extend beyond mere transactions.</p>
                    </div>
                    <div class="col-md-10 mt-5">
                        <img src="images/banner-4.jpg" class="mw-100" data-aos="fade-left" data-aos-duration="2500">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="">
            <div class="aestext" data-aos="fade-right" data-aos-duration="2500">
                <h2 class="text-start">Why Choose AG Stones?</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-right" data-aos-duration="1500">
                        <div class="choose">
                            <div class="title">
                                Quality & Excellence
                            </div>
                            <div class="content">
                                At AG Stones, our commitment to quality is unparalleled. We meticulously select and process each stone to the highest industry standards, ensuring that our products not only meet but exceed expectations. With AG Stones, expect nothing less than the epitome of quality and excellence in every slab.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="2500">
                        <div class="choose light">
                            <div class="title">
                                Customer Satisfaction
                            </div>
                            <div class="content">
                                Your satisfaction is our top priority at AG Stones. We go the extra mile to understand your needs, provide personalized guidance, and ensure a seamless experience. From the moment you explore our inventory to the final installation, we're dedicated to making your journey with AG Stones a delight.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left" data-aos-duration="3000">
                        <div class="choose">
                            <div class="title">
                                Finest Products
                            </div>
                            <div class="content">
                                Discover the pinnacle of craftsmanship with AG Stones. Our collection showcases the finest natural stones and quartz, each piece a testament to the beauty found in the earth's treasures. Elevate your space with our handpicked, premium products that stand as a testament to our unwavering commitment to excellence.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-right" data-aos-duration="2000">
                        <div class="choose light">
                            <div class="title">
                                Extensive Variety
                            </div>
                            <div class="content">
                                AG Stones boasts an extensive variety of stones, ensuring that your vision comes to life with the perfect match. From the timeless elegance of marble to the durability of granite and the contemporary appeal of quartz, our diverse range caters to every style and project requirement. Find your ideal stone among our extensive selection at AG Stones.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="choose">
                            <div class="title">
                                Ethical and Sustainable Sourcing
                            </div>
                            <div class="content">
                                Choose AG Stones for a commitment beyond beauty. We take pride in our ethical and sustainable sourcing practices, ensuring that the stones you love have been procured responsibly. Our dedication to environmental consciousness and fair trade extends our promise of quality, offering you stones with a story you can be proud of.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-left" data-aos-duration="1500">
                        <div class="choose light">
                            <div class="title">
                                Expert Guidance
                            </div>
                            <div class="content">
                                At AG Stones, we don't just offer stones; we provide expert guidance at every step. Our knowledgeable team is dedicated to assisting you, whether you're starting a project, exploring options, or finalizing selections. With AG Stones, you're not just a customer; you're a valued partner in creating spaces that reflect your unique style and vision.
                            </div>
                            <a class="btndes dark"><span class="desbtn"><i></i></span></a>
                            <div class="angledes"><div class="line1"></div><div class="line2"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="visionmission">
            <div class="imgwrap" data-aos="fade-right" data-aos-duration="2500">
                <img src="images/carousel/img-9.jpg" class="w-100 d-md-none">
            </div>
            <div class="textwrap" data-aos="fade-down" data-aos-duration="2000">
                <h3 class="heading">
                    Our Vision
                </h3>
                <p>
                    We dream of filling your world with the beauty of natural stones. AG Stones wants to be the place where everyone can easily find and enjoy stunning quartz, marble, granite, and more for their homes and projects.
                </p>
                <a class="btndes dark"><span class="desbtn"><i></i></span></a>
            </div>
            <div class="textwrap" data-aos="fade-up" data-aos-duration="3000">
                <h3 class="heading">
                    Our Mission
                </h3>
                <p>
                    Our mission is simple - we're here to make your design dreams come true. AG Stones works hard to bring you the best stones from around the world, offering a variety of choices. We care about quality, the environment, and making sure you're happy with the stones you choose. Let's turn your ideas into beautiful, natural creations!
                </p>
                <a class="btndes dark"><span class="desbtn"><i></i></span></a>
            </div>
        </section>
        
        <section class="pb-5">
            <div class="aestext" data-aos="fade-right" data-aos-duration="2500">
                <h2 class="text-start">Experience the Majestic Splendor</h2>
            </div>
            <div class="container pb-md-5">
                <div class="row justify-content-end">
                    <div class="col-md-10" data-aos="fade-left" data-aos-duration="2500">
                        <div class="owl-carousel productgalcarousel">
                            <div class="wrap">
                                <img src="images/gallery/gallery-img-13.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/gallery/gallery-img-19.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/gallery/gallery-img-6.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/gallery/gallery-img-8.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
<%- include('footer') %>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <script>
            AOS.init();
        </script>
        
       <script>
        $(document).ready(function() {
              var owl = $('.productgalcarousel');
              owl.owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:1,
                        nav:true
                    },
                    1000:{
                        items:1,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
       <script>
        $(document).ready(function() {
              var owl = $('.homeprodcarousel');
              owl.owlCarousel({
                loop: true,
                margin: 30,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:true
                    },
                    1000:{
                        items:3,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
        <script>
            let mybutton = document.getElementById("topscroll");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } 
                else {
                    mybutton.style.display = "none";
                }
            }
            
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
        <script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
	$(".innerbanner").css({
		backgroundSize: (100 + scroll/15)  + "%",
		top: -(scroll/10)  + "%",

	});
  
});

</script>
        
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script>
        
        
            const colors = ['', 'blacky', 'lightdarkgrey', 'darkergray', 'lightdarkgrey', 'darkergray', 'darkergray', 'lightdarkgrey']

            const sections = [...document.querySelectorAll('section')]

            window.addEventListener('scroll', function () {

              const scrollFromTop = window.pageYOffset

              for (let i = 0; sections.length > i; i++) {

                if (scrollFromTop <= sections[i].offsetTop) {
                  document.body.className = colors[i] 
                  break
                } 

              }

            })
        </script>
        
    </body>
    
</html>
