<html>
    
    <head>
       <title>Contact | Agastya Stones</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
 
        <style>
            .spinner{
                color: black;
                position: absolute;
                top: 50%;
                bottom: 50%;
                text-align: center;
                right: 50%;
                left: 40%;
                height: 50px;
                width: 50px;
                display:none;
            }
.address-block iframe{
width:100%}
        </style>
        <meta name="google-site-verification" content="bfCBd4mgQPj-PuPRehsfzP8JSiX_fp2R9JnEftNgayA" />
        <!-- Google tag (gtag.js) -->
        <%- include('head') %>
        
    </head>
    
    <body>
        
        <button onclick="topFunction()" id="topscroll" title="Go to top"><i class="fas fa-chevron-up"></i></button>
<%- include('header') %>
        
        
        <div class="innerbanner conpage">
            <div class="main">
                <div class="content">
               <h1 class="title">Contact Us</h1>
                <div class="desline"></div>
            </div>
            </div>
        </div>
        
        
        <section class="contact-form padding" style="">
            
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-6" style="position: relative;">
                        <div class="spinner-border spinner" role="status" style="display:none">
                            <span class="sr-only">Loading...</span>
                          </div>
                       <form class="form" id="form">
                          <h3 class="heading mb-2">Get in Touch with Us</h3>
                           
                           <h6><big>Please reach out to us through this form, and we’ll be in touch shortly.</big></h6>
                            <div class="wrap half">
                                <input type="text" placeholder="First Name" id="firstname" name="firstname" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap half">
                                <input type="text" placeholder="Last Name" id="lastname" name="lastname" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap half">
                                <input type="text" placeholder="City" id="city" name="city" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap half">
                                <input type="text" placeholder="State" id="state" name="state" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap">
                                <input type="email" placeholder="Email" id="email" name="email" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap">
                                <input type="tel" placeholder="Phone Number" id="phone" name="phone" onfocus='this.style.border=""'>
                            </div>
                            <div class="wrap">
                                <textarea rows="3" placeholder="How can we help you?" id="message" name="message" onfocus='this.style.border=""'></textarea>
                            </div>
                            <div class="wrap" id="thanks-message" style="display:none;">
                              <p style="color: #000;background-color: #d8ffd8;padding: 1rem;text-align: center;">Thank you for the Submission</p>
                            </div>
                            <div class="wrap">
                                <button onclick="formSubmit()" type="button">Submit</button>
                            </div>
                       </form>
                    </div>
                    <div class="col-md-6">
                        <div class="contactloc">
                            <h3 class="heading mb-2"><small>Find Us at</small></h3>
                            <div class="address-sec">
    <i class="fas fa-map-marker-alt"></i>
    <p><strong>Agastya USA Inc</strong><br>
459 Herndon Pkwy STE 18<br>
Herndon, VA 20170</p>
</div>
<div class="address-sec">
    <i class="fas fa-map-marker-alt"></i>
    <div><div>
        <p><strong>Warehouse Addresses</strong><br>
Cincinnati - 8550 Seward Rd<br>
Fairfield OH 45011</p><br>
<a href="https://www.google.com/maps?q=8550+Seward+Rd,+Fairfield,+OH+45011" target="_blank" class="btndes"><span class="desbtn"><i></i></span> Directions</a><br>
        </div><div>
    <p>Raleigh - 1251 Burma Dr<br>Apex,&nbsp;NC&nbsp;27539&nbsp;</p><br>
    <a href="https://www.google.com/maps?q=1251+Burma+Dr,+Apex,+NC+27539" class="btndes" target="_blank"><span class="desbtn"><i></i></span> Directions</a><br>
            </div></div>
</div>
                       <div class="address-sec">
    <i class="fas fa-envelope"></i>
    <p>info@agstones.com</p>
</div>
                       <div class="address-sec">
    <i class="fas fa-phone"></i>
    <p>+1 703-647-0666</p>
</div>
                       <h3 class="heading mt-3 mb-2"><small>Offering you Franchise Opportunity in the USA</small></h3>
                       <p>Introducing AG Stones Quartzite, Quartz, Granite, Onyx, Semi Precious Stone Slabs and Marble SLabs Franchise Opportunity: Unlocking your Success in the Lucrative Stone Industry.</p>
                       <a class="btndes"><span class="desbtn"><i></i></span> Join Franchise</a>
                        </div>
                    </div>
                </div>
<div class="row mt-5" style="
    color: black;
">
        <div class="col-md-12">
            <h3>Warehouse Addresses</h3>
        </div>
        <div class="col-md-6">
            <div class="address-block">
                <h4>Cincinnati</h4>
                <p>8550 Seward Rd, Fairfield OH 45011</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198878.26018642624!2d-84.72335615791842!3d39.28574038970826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884053249650c4e5%3A0x324eda7f410b3d2c!2s8550%20Seward%20Rd%2C%20Fairfield%2C%20OH%2045011%2C%20USA!5e0!3m2!1sen!2sca!4v1646844476095!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="address-block">
                <h4>Raleigh</h4>
                <p>1251 Burma Dr, Apex, NC 27539</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.369225015847!2d-78.90083108427143!3d35.742332380187165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac0f0c07ea8259%3A0x5d439534d1f2c49d!2s1251%20Burma%20Dr%2C%20Apex%2C%20NC%2027539%2C%20USA!5e0!3m2!1sen!2sca!4v1646844531723!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
            </div>
            
        </section>
        
<%- include('footer') %>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <script>
            AOS.init();
        </script>
        
        <script>
            let mybutton = document.getElementById("topscroll");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } 
                else {
                    mybutton.style.display = "none";
                }
            }
            
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
        <script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
	$(".innerbanner").css({
		backgroundSize: (100 + scroll/15)  + "%",
		top: -(scroll/10)  + "%",

	});
  
});

</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">

    $(document).on('input','#phone',function(){
        var data=$(this).val();
        $(this).val(data.replace(/[^0-9]/gi, ''));
    })

    function formSubmit(){
        let firstName=$('#firstname').val();
        let lastName=$('#lastname').val();
        let email=$('#email').val();
        let phone=$('#phone').val();
        let city=$('#city').val();
        let state=$('#state').val();
        let message=$('#message').val();
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if(firstName=='' || lastName=='' || ( email=='' || !emailRegex.test(email) ) || ( phone=='' || phone.length<10 ) || city=='' || state=='' || message==''){

            if(firstName==''){
                $('#firstname').css('border-bottom','2px solid red');
            }else{
                $('#firstname').css('border-bottom','');
            }
            if(lastName==''){
                $('#lastname').css('border-bottom','2px solid red');
            }else{
                $('#lastname').css('border-bottom','');
            }
            if( email=='' || !emailRegex.test(email) ){
                $('#email').css('border-bottom','2px solid red');
            }else{
                $('#email').css('border-bottom'-bottom,'');
            }
            if( phone=='' || phone.length<10 ){
                $('#phone').css('border-bottom','2px solid red');
            }else{
                $('#phone').css('border-bottom','');
            }
            if(city==''){
                $('#city').css('border-bottom','2px solid red');
            }else{
                $('#city').css('border-bottom','');
            }
            if(state==''){
                $('#state').css('border-bottom','2px solid red');
            }else{
                $('#state').css('border-bottom','');
            }
            if(message==''){
                $('#message').css('border-bottom','2px solid red');
            }else{
                $('#message').css('border-bottom','');
            }

        }else{
            $('#form').css('opacity','0.5');
            $('.spinner').show();
               (function(){
                    emailjs.init("LlRA6jnPV7YmJUKdi");
                })();

                let name=firstName+' '+lastName;

                var templateParams = {
                        lead_name: name,                    
                        lead_city: city,
                        lead_state: state,
                        lead_email:email,
                        lead_phone:phone,
                        lead_message:message,
                        to_email:'sales@agstonescincy.com'
                        // to_email:'info@agstones.com'
                    };
                
                emailjs.send('service_angsjee', 'template_6n2bz5k', templateParams)
                .then(function(response) {

                    let postData={firstName,lastName,city,state,email,phone,message,formName:'contactform_submit'};

                    $.ajax({
                        type:'post',
                        data:postData,
                        url:'admin/products-ajax.php',
                        success:function(data){
                            console.log(data);
                            $('.spinner').hide();
                            $('#form').css('opacity','10');
                            document.getElementById('form').reset();
                            $('#thanks-message').show();
                            setTimeout(function(){
                            $('#thanks-message').hide();                    
                            },2500)
                        }
                    })

                }, function(error) {
                    $('.spinner').hide();
                    $('#thanks-message').hide();
                    $('#form').css('opacity','10');
                    console.log('FAILED...', error);
                });

        }

    }
 
</script>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        
    </body>
    
</html>