        <footer>
            
            <div class="container">
                <div class="row">
                   <div class="col-lg-4">
                       <div class="foot-text">
                           <img src="images/logo-white.png" class="footer-logo">
                       </div>
                            <div class="footer-social-links">
                                <a href="https://www.facebook.com/agastyastones/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/agastyastones/"><i class="fab fa-instagram"></i></a>
                                <a href="https://twitter.com/AgastyaStones"><i class="fab fa-x-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/agstones/"><i class="fab fa-linkedin"></i></a>
                            </div>
                       
                   </div>
                    <div class="col-12 col-md-4 col-lg-2">
                       <h3 class="footer-title">
                           Menu
                       </h3>
                        <div class="footer-menu">
                            <a href="/">Home</a>
                            <a href="about">Our Story</a>
                            <a href="products">Our Collection</a>
                            <a href="our-process">Our Process</a>
                            <a href="gallery-collection">Gallery</a>
                            <a href="contact">Reach Us</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                       <h3 class="footer-title">
                           Our Collection
                       </h3>
                        <div class="footer-menu">
                            <a href="quartzite">Quartzite</a>
                            <a href="quartz">Quartz</a>
                            <a href="granite">Granite</a>
                            <a href="marble">Marble</a>
                            <a href="onyx">Onyx</a>
                            <a href="semi-precious-stones">Semi Precious Stones</a>
                            <a href="porcelain">Porcelain</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                       <h3 class="footer-title">
                           Informational
                       </h3>
                        <div class="footer-menu">
                            <a href="resources">Resources</a>
                            <a href="warranty">Warranty</a>
                            <a href="care-maintenance">Care & Maintenance</a>
                            <a href="privacy-policy">Privacy Policy</a>
                            <a href="terms-and-conditions">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown-toggle").click(function(){
            $(this).siblings("#dropdown-menu").toggle();
        });
    });

    let url="";

    $('.websitepop').click(function(){

            if (history.pushState) {
             url=$(this).attr('data-href');
                var newurl ='';
                if(url.includes('cincy-countertops')){
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '/cincy-countertops';
                }

                if(url.includes('raleigh-countertops')){
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '/raleigh-countertops';
                }    
                                   
                window.history.pushState({path:newurl}, '', newurl);
            }

            $('iframe').remove();
            $('body').css('overflow','hidden');


            $('body').html('<iframe src="'+url+'" style="width:100%; height:100vh;"></iframe><button class="close-button"><i class="fas fa-times"></i></button>');
            
            $('.close-button').click(function() {
                location.reload(); 
            });
        });

</script>
        

            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                           
                            © Copyright 2023 Agastya Global Stones. <span class="d-inline-block">All Rights Reserved.</span><div class="btfootaddress"><i class="fas fa-map-marker-alt"></i> 459 Herndon Pkwy STE 18 Herndon, <span class="d-inline-block">VA 20170</span></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </footer>