<html>
    
    <head>
       <title>Collection Gallery | Agastya Stones</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="canonical" href="https://agstones.com/gallery-collection" />
 
<!-- Google tag (gtag.js) -->
    <%- include('head') %>

<!--        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>-->

    </head>
    
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTVQJ7SR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        
        <button onclick="topFunction()" id="topscroll" title="Go to top"><i class="fas fa-chevron-up"></i></button>
 <%- include('header') %>
        
        
        <div class="innerbanner gallpage">
            <div class="main"><div class="content">
               <h1 class="title">Our Collection</h1>
                <div class="desline"></div>
            </div>
            </div>
        </div>
        
        
<!--
        <section class="padding">
            
            <div class="container">
                <div class="row gallcoll" data-masonry='{"percentPosition": true }'>
                    <div class="col-6 col-lg-4">
                        <img src="images/side-img-10.jpg" class="w-100" data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/feat1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/img-6.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-13.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-14.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-15.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-12.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-2.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-3.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-6.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/img-3.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/onyx.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/img-5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-7.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <img src="images/gallery/gallery-img-8.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-9.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-10.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/gallery/gallery-img-11.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/product-banner-mob.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/img-9.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/prod-2.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/carousel/5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="images/granite-countertop.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <img src="images/banners/banner-4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                    </div>
                </div>
            </div>
            
            
        </section>
-->
        
        <section class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="floatgallery">
                            <div class="colwrap">
                                <div class="wrap">
                                    <img src="images/banners/banner-4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-11.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/granite-countertop.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/prod-2.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/img-9.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/product-banner-mob.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/img-5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/onyx.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                            </div>
                            <div class="colwrap">
                                
                                <div class="wrap">
                                    <img src="images/side-img-10.jpg" class="w-100" data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-2.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-3.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-5.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-6.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-7.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-8.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/img-6.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/feat1.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                            </div>
                            <div class="colwrap">
                                
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-9.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-10.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-12.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-13.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-14.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-15.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-16.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-17.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-18.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/gallery/gallery-img-19.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/img-3.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                                <div class="wrap">
                                    <img src="images/carousel/4.jpg" class="w-100 " data-aos="fade-up" data-aos-duration="3000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        
<%- include('footer') %>
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <script>
            AOS.init();
        </script>

        
        <script>
            let mybutton = document.getElementById("topscroll");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } 
                else {
                    mybutton.style.display = "none";
                }
            }
            
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
        <script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
	$(".innerbanner").css({
		backgroundSize: (100 + scroll/15)  + "%",
		top: -(scroll/10)  + "%",

	});
  
});

</script>
        
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
    
</html>
