<header>
           
    <div class="container">
        
        <div class="row">
            
            <div class="col-12">
                
                <div class="logo"><a href="/"><img src="images/logo.png"></a></div>
                
                <div class="menuicon">
                    <div class="wrap">
<!--                               <a href="#contact">Contact</a> -->
                        <div class="icon" data-bs-toggle="modal" data-bs-target="#menutrig">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                 </div>
                
            </div>
            
        </div>
        
    </div>
     
     
     
 </header>

 <div class="modal menubox" id="menutrig" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="termsLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">  
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Close <i class="fas fa-times"></i></button>
                <img src="images/logo-black.png" class="logo">
                <div class="nav-links">
                    <a href="/" class="link">Home</a>
                     <a href="about" class="link">Our Story</a> 
<!--                            <a href="why-agastya-stones.html" class="link">Why Us?</a>-->
                    <a href="products" class="link">View Collection</a>
                    <a href="our-process" class="link">Our Process</a>
<!--                            <a class="link">Join Franchise</a>-->

        <a class="link dropdown-toggle" href="#" role="button" id="locationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations
        </a>
        <div class="" id="dropdown-menu" aria-labelledby="locationsDropdown" style="text-align:end;display:none;">
            <a class="dropdown-item" href="https://www.agstones.com/cincy-countertops/">Cincinnati, OH</a>
            <a class="dropdown-item" href="https://www.agstones.com/raleigh-countertops/">Raleigh, NC</a>
        </div>

                    <a href="resources" class="link">Resources</a>
                    <a href="contact" class="link">Reach Us</a>
                </div>
            </div>
        </div>
    </div>
</div>