<html>
    
    <head>
       <title>Onyx | Agastya Stones</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
 
<!-- Google tag (gtag.js) -->
    <%- include('head') %>

    </head>
    
    <body>
        
        <button onclick="topFunction()" id="topscroll" title="Go to top"><i class="fas fa-chevron-up"></i></button>
 <%- include('header') %>
        
        
        <div class="innerbanner onyxpage">
            <div class="main">
                <div class="content">
               <h1 class="title">Onyx</h1>
                <div class="desline"></div>
            </div>
            </div>
        </div>
        
        
        <section class="pt-5 pb-4">
            <div class="container">
                <div class="row pt-lg-4">
                    <div class="col-12 col-lg-6">
                        <div class="owl-carousel slabscarousel">
                            <div class="wrap">
                                <img src="images/product-pages/onyx/1.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/onyx/2.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/onyx/3.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/onyx/4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="slabspagecontent">
                            <h2 class="heading">Onyx</h2>
                            <p>Crafted from Calcite, this stratified stone showcases breathtaking formations in a vibrant and expansive color palette. The onyx formations manifest in either "cloud-like" shapes or striking striations, determined by whether the onyx slab is Cross-Cut or Vein-Cut. The aesthetic allure of onyx surpasses that of any other material, and its ability to be backlit, owing to its inherent semi-translucency, makes a bold statement in any residential or commercial project.</p>
                            <p>Onyx finds its ideal application in interior spaces, serving as an exquisite choice for commercial and residential bars, bathroom vanities, wall cladding, and decorative elements. As a softer and more porous stone, onyx shares similarities with marble, rendering it susceptible to both chemical and abrasion exposure. Therefore, it is recommended for interior use to maintain its beauty and longevity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row pt-3 pt-md-5">
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Origin</h6>
                            <p>Multiple</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Thickness</h6>
                            <p>2cm & 3cm</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Size</h6>
                            <p>Varies</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Price Range</h6>
                            <p>Level 4 to Super Exotic</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="container">
            <div class="row slabspageappliations">
               <div class="col-12">
                   <h3 class="heading text-center mb-3">Applications</h3>
                   <hr style="width: 100px; height: 5px; background: #1c1c1c; border: 0; margin: 0 auto 2rem; opacity: 1;">
               </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-1.png">
                        <h5>Bathroom or Bathroom Vanity</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-11.png">
                        <h5>Backlit Suitable</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-5.png">
                        <h5>Commercial Applications</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-6.png">
                        <h5>Tables</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-9.png">
                        <h5>Decorative</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-8.png">
                        <h5>Wall Cladding</h5>
                    </div>
                </div>
            </div>
        </div>
        
        
<%- include('footer') %>
        
        
        <style>
            .slabscarousel .owl-dots .owl-dot:nth-child(1){
                background: url(images/product-pages/onyx/1.jpg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(2){
                background: url(images/product-pages/onyx/2.jpg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(3){
                background: url(images/product-pages/onyx/3.jpg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(4){
                background: url(images/product-pages/onyx/4.jpg);
            }
        </style>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <script>
            AOS.init();
        </script>
        
       <script>
        $(document).ready(function() {
              var owl = $('.slabscarousel');
              owl.owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:1,
                        nav:true
                    },
                    1000:{
                        items:1,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
       
        
        <script>
            let mybutton = document.getElementById("topscroll");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } 
                else {
                    mybutton.style.display = "none";
                }
            }
            
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
        <script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
	$(".innerbanner").css({
		backgroundSize: (100 + scroll/15)  + "%",
		top: -(scroll/10)  + "%",

	});
  
});

</script>
        
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <style>
        
            .contact-form ~ .contact-form{
                display: none;
            }
            
            .contact-form{
                background-attachment: fixed !important;
                background-size: cover !important;
            }
            
            .contact-form .form, .contact-form .form .wrap button{
                filter: invert(1);
            }
        
        </style>
        
        <script>
        
        
            const colors = ['', 'darkgrey', 'lightdarkgrey', 'darkergray', 'darkergray', 'lightdarkgrey', 'darkergray', 'darkergray', 'lightdarkgrey']

            const sections = [...document.querySelectorAll('section')]

            window.addEventListener('scroll', function () {

              const scrollFromTop = window.pageYOffset

              for (let i = 0; sections.length > i; i++) {

                if (scrollFromTop <= sections[i].offsetTop) {
                  document.body.className = colors[i] 
                  break
                } 

              }

            })
        </script>
        
    </body>
    
</html>