<html>
    
    <head>
       <title>Porcelain | Agastya Stones</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="canonical" href="https://agstones.com/porcelain" />

<!-- Google tag (gtag.js) -->
    <%- include('head') %>

    </head>
    
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTVQJ7SR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        
        <button onclick="topFunction()" id="topscroll" title="Go to top"><i class="fas fa-chevron-up"></i></button>
 <%- include('header') %>
        
        
        <div class="innerbanner porcelainpage">
            <div class="main">
                <div class="content">
               <h1 class="title">Porcelain</h1>
                <div class="desline"></div>
            </div>
            </div>
        </div>
        
        
        <section class="pt-5 pb-4">
            <div class="container">
                <div class="row pt-lg-4">
                    <div class="col-12 col-lg-6">
                        <div class="owl-carousel slabscarousel">
                            <div class="wrap">
                                <img src="images/product-pages/porcelain/1.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/porcelain/2.jpg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/porcelain/3.jpeg">
                            </div>
                            <div class="wrap">
                                <img src="images/product-pages/porcelain/4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="slabspagecontent">
                            <h2 class="heading">Porcelain</h2>
                            <p>Porcelain stone is a high-quality ceramic material composed of natural clays, feldspar, and other minerals. Through a meticulous manufacturing process involving high-temperature firing, porcelain stone achieves a dense and non-porous composition. This results in a material that boasts remarkable strength, resistance to wear, and a luxurious appearance reminiscent of natural stone.</p>
                            <p>Renowned for its exceptional durability, versatility, and aesthetic appeal, porcelain stone has become a popular choice for a wide range of applications, from residential to commercial spaces.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row pt-3 pt-md-5">
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Origin</h6>
                            <p>Multiple</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Thickness</h6>
                            <p>12mm, 20mm, 6mm, 9mm</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Size</h6>
                            <p>63"x127", 63"x126", 48"x110", 30"x60", 48"x48", 24"x48", Special Order</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="slabspagedetails">
                            <h6>Price Range</h6>
                            <p>Level 1 through Super Exotic</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="container">
            <div class="row slabspageappliations">
               <div class="col-12">
                   <h3 class="heading text-center mb-3">Applications</h3>
                   <hr style="width: 100px; height: 5px; background: #1c1c1c; border: 0; margin: 0 auto 2rem; opacity: 1;">
               </div>
               <div class="col-lg-1 d-none d-lg-block"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-4.png">
                        <h5>Fireplace Hearth</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-1.png">
                        <h5>Vanity</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-13.png">
                        <h5>Facade</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-3.png">
                        <h5>Countertops</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-6.png">
                        <h5>Furniture</h5>
                    </div>
                </div>
                <div class="col-lg-1 d-none d-lg-block"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-9.png">
                        <h5>Walls</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="wrap">
                        <img src="images/product-pages/quartzite/icon-2.png">
                        <h5>Flooring</h5>
                    </div>
                </div>
            </div>
        </div>
        
        
<%- include('footer') %>
        
        
        <style>
            .slabscarousel .owl-dots .owl-dot:nth-child(1){
                background: url(images/product-pages/porcelain/1.jpg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(2){
                background: url(images/product-pages/porcelain/2.jpg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(3){
                background: url(images/product-pages/porcelain/3.jpeg);
            }
            .slabscarousel .owl-dots .owl-dot:nth-child(4){
                background: url(images/product-pages/porcelain/4.jpg);
            }
        </style>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <script>
            AOS.init();
        </script>
        
       <script>
        $(document).ready(function() {
              var owl = $('.slabscarousel');
              owl.owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:1,
                        nav:true
                    },
                    1000:{
                        items:1,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
       
        
        <script>
            let mybutton = document.getElementById("topscroll");

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } 
                else {
                    mybutton.style.display = "none";
                }
            }
            
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
        <script>
$(window).scroll(function() {
  var scroll = $(window).scrollTop();
	$(".innerbanner").css({
		backgroundSize: (100 + scroll/15)  + "%",
		top: -(scroll/10)  + "%",

	});
  
});

</script>
        
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <style>
        
            .contact-form ~ .contact-form{
                display: none;
            }
            
            .contact-form{
                background-attachment: fixed !important;
                background-size: cover !important;
            }
            
            .contact-form .form, .contact-form .form .wrap button{
                filter: invert(1);
            }
        
        </style>
        
        <script>
        
        
            const colors = ['', 'darkgrey', 'lightdarkgrey', 'darkergray', 'darkergray', 'lightdarkgrey', 'darkergray', 'darkergray', 'lightdarkgrey']

            const sections = [...document.querySelectorAll('section')]

            window.addEventListener('scroll', function () {

              const scrollFromTop = window.pageYOffset

              for (let i = 0; sections.length > i; i++) {

                if (scrollFromTop <= sections[i].offsetTop) {
                  document.body.className = colors[i] 
                  break
                } 

              }

            })
        </script>
        
    </body>
    
</html>
